# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
htmlcov/
.tox/

# Virtual Environments
.venv/
venv/

# Build artifacts
build/
dist/

# Distribution formats
*.tar.gz
*.zip
*.whl

# OpenAI Evals
eval_results/*
!eval_results/eval_output.jsonl
sessions/
eval_yaml_debug_dump.txt
out/
openai-key.txt
evals/elsuite/**/logs/
evals/elsuite/**/outputs/

# MacOS folder metadata
.DS_Store

# Editor/IDE specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.code-workspace

# OS-specific
Thumbs.db

# Log files
*.log

# Databases
*.sqlite3
*.sqlite
*.db
.env

#Ignore ouptut folder
out 