streamlit
python-dotenv
pytest
httpx
openai>=1.0.0,<2.0.0 # Ensure compatibility with modern evals and assume src code supports openai v1.x
# evals>=0.0.19
pytest-asyncio
zstandard
blobfile
blinker
annotated-types
protobuf
backoff